@import "components/normalize";

body {
  width: 100%;
  background: #7ab737 radial-gradient(circle farthest-corner at 0 0, rgba(255, 255, 255, .2) 0%, rgba(136, 222, 43, .15) 80%, rgba(73, 125, 14, .5) 100%);
  background-size: cover;
  background-attachment: fixed;
  
  color: #fff;
}

.page {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  
  &.is-active {
    display: flex;
  }
}
