@import "components/normalize";

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  
  background-color: #292b27;
  
  color: #fff;
}

.page {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  
  background: #7ab737 radial-gradient(circle farthest-corner at 0 0, rgba(255, 255, 255, .2) 0%, rgba(136, 222, 43, .15) 80%, rgba(73, 125, 14, .5) 100%);
  background-size: cover;
  background-attachment: fixed;
  
  z-index: 2;
  
  &.is-active {
    display: flex;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 290px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.card {
  position: relative;
  width: 75px;
  height: 105px;
  
  margin: 10px;
  
  border-radius: 3px;
  box-shadow: 1px 1px 0 rgba(0,0,0,.25), inset 1px 1px 0 #fff;
  
  background-color: #f6f6f6;
  background-image: radial-gradient(circle at 50% 50%, #fff 0%, #ebebeb 100%);
  
  cursor: pointer;
  
  & > span {
    width: 100%;
    position: absolute;
    top: 0;
    
    color: #292b27;
    font: 4.5rem/10.5rem 'Roboto Slab', sans-serif;
    text-align: center;
  }
}

.cards--small .card {
  width: 60px;
  height: 84px;
  
  & > span {
    font-size: 3rem;
    line-height: 8.4rem;
  }
}

.cards.has-selected {
  & > .card { 
    display: none;
  } 
  
  & > .card.is-selected {
    display: block;
    width: 250px;
    height: 340px;
    
    box-shadow: 2px 2px 1px rgba(0,0,0,.25), inset 1px 1px 0 #fff;

    & > span {
      font-size: 15rem;
      line-height: 34rem;
    }
  }
}

@media screen and (min-width: 640px) {
  .cards {
    width: 510px;
  }
  
  .card {
    width: 150px;
    height: 210px;
    
    & > span {
      font-size: 9rem;
      line-height: 21rem;
    }
  }
  
  .cards--small .card {
    width: 100px;
    height: 140px;

    & > span {
      font-size: 5rem;
      line-height: 14rem;
    }
  }
  
  .cards.has-selected {
    & > .card.is-selected {
      display: block;
      width: 350px;
      height: 476px;

      & > span {
        font-size: 20rem;
        line-height: 47.6rem;
      }
    }
  }
}

.show-settings .page {
  top: -91px;
  bottom: 91px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 90px;
  
  font: 1.6rem 'Roboto Slab', sans-serif;
  
  z-index: 1;
  
  &:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    
    display: block;
    width: 100%;
    height: 1px;
    
    background: linear-gradient(to right, #7bb837, #b6e64e, #7bb837);
  }
}

.settings__label {
  width: 90px;
  
  &:first-of-type {
    text-align: right;
  }
}

.settings__input {
  position: relative;
  margin: 0 15px;
  width: 80px;
  height: 40px;
  overflow: hidden;
  
  flex-basis: 80px;
  
  border-radius: 20px;
  box-shadow: 1px 1px 0 rgba(255,255,255,.1), inset 2px 2px 4px rgba(0,0,0,.75);
  
  background-color: #0f110e;
  
  cursor: pointer;
  
  & > input {
    position: absolute;
    left: -90px;
    
    opacity: 0;
  }
}

.settings__input__controll {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  
  position: absolute;
  left: 0;
  
  border-radius: 50%;
  
  box-shadow: 4px 3px 5px rgba(0,0,0,.75), inset 1px 1px 0 rgba(191,245,73,.75);
  
  background-color: #bff549;
  background-image: radial-gradient(circle at 50% 50%, #b5e54d 0%, #84b41e 100%);
  
  transition: all .1s ease;
}

.settings__input > input:checked + .settings__input__controll {
  left: 40px;
}